.centered {
  padding: $padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  & > .image {
    position: fixed !important;
    height: 90%;
    width: 100%;
    z-index: -1;
  }
}
