.headerAndBody {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: $margin;

  & > .header {
    display: flex;
    flex-grow: 1;
    padding-left: $padding;
    padding-right: $padding;
  }

  & > .body {
    display: flex;
    flex-grow: 9;
    width: 100%;
    padding: $padding;

    & > .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
