.twoRows {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (max-width: $medium) {
    & > .first {
      flex-wrap: wrap;
    }
  }

  & > .first {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: $accent1;
    padding: $padding;

    & > .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    & > .right {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }
  }

  & > .second {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: $padding;

    & > .image {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}