.aboutItem {
  display: flex;
  margin-bottom: $margin;

  & > .image {
    padding: $padding;
    border-style: solid;
    border-width: 1px;
    border-color: $light1;
    width: 7em;
    min-width: 7em;
    height: 7em;
    margin-bottom: 0px;
  }

  & > div {
    display: flex;
    flex-direction: column;

    & > .title, .paragraph {
      color: $light1;
      margin-left: $margin;
      width: 75%;
    }

    & > .title {
      color: $accent2;
      margin-left: $margin;
    }
  }

  @media (max-width: $small) {
    & {
      justify-content: center;
      flex-wrap: wrap;
    }

    & > .image {
      margin-bottom: $margin;
    }

    & > div {
      align-items: center;

      & > .title, .paragraph {
        text-align: center;
      }
    }
  }
}