.cardMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;
  filter: drop-shadow(1px 2px 7px rgba(0, 0, 0, 0.15));
  
  & > .image {
    margin-bottom: $margin;
    width: 14em;
    height: 11em;
  }

  & > .title, .paragraph {
    width: 10em;
    text-align: center;
  }

  & > .title {
    color: $accent2;
  }

  & > .paragraph {
    margin-bottom: $margin;
  }
}