.contactInfoCard {
  display: flex;
  flex-direction: column;

  & > .paragraph {
    margin-bottom: $margin / 2;

    &:nth-last-child(2) {
      margin-bottom: 0px;
    }
  }

  & > .title, .paragraph {
    color: $accent2;
  }

  & > .icons {
    display: flex;

    & > div:nth-child(2), div:nth-child(3) {
      margin-left: $margin;
    }

    & > div > .icon {
      color: $light1;
      font-size: 1.5em;
      cursor: pointer;
    }
  }
}