
.floatingSocialNetworks {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: $margin;

  & > div {
    background-color: $light1;
    border-radius: 100%;
    padding: $padding / 2;
    cursor: pointer;
    text-align: center;
    border: 1px solid $accent1;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1), &:nth-child(2) {
      margin-bottom: $margin / 2;
    }

    & > .icon {
      font-size: 1.2em;
      color: $accent1;
    }

    @media (max-width: $small) {
      padding: $padding / 4;
    }
  }

  @media (max-width: $small) {
    left: $margin;
    bottom: $margin;
    right: auto;
  }
}