.input {
  display: flex;
  flex-direction: column;

  & > .paragraph {
    margin-bottom: $margin / 3;
  }

  & > input, textarea {
    border: none;
    height: 2em;
    border-radius: $borderRadius;
  }

  & > textarea {
    resize: none;
    height: auto;
  }
}