$skew-amount: 20;

.madeBy {
  position: absolute;
  right: 0;
  bottom: $margin + $skew-amount;

  & > .top {
    position: relative;
    background-color: $accent2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding / 3;
    border-radius: $borderRadius 0 0 0;
    transform: skewY(-#{$skew-amount}deg);
    box-shadow: 0 2px 5px 0 rgba(black, 0.25);
    z-index: 1;
    cursor: pointer;

    & > .paragraph {
      color: $accent1;
      font-size: 0.6em;
    }
  }

  & > .bottom {
    background-color: $accent2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding / 3;
    border-radius: 0 0 0 $borderRadius;
    transform: skewY(#{$skew-amount}deg) translateY(15px);
    box-shadow: 0 2px 5px 0 rgba(black, 0.25);
    cursor: pointer;

    & > .paragraph {
      color: $light1;
      font-size: 0.6em;
      font-weight: bold;
    }
  }
}