.menu {
  text-align: end;
}

.menu > .items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu > .items > .anchor, .languageSelector {
  margin: 0px 0px 0px $margin;
}


@media (max-width: $medium) {
  .hamburguerButton {
    display: inline-block;
  }
  .menu > .items {
    background: $primary;
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    &.visible {
      top: 0;
    }
  }

  .menu > .items > .anchor,.languageSelector {
    margin: $margin 0px 0px 0px;
  }
}