.workModal {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.4);
  z-index: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  &.visible {
    top: 0%;
  }

  & > div {
    position: absolute;
    top: 0%;
    left: 2.5%;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-height: 95%;
    background-color: $primary;
    padding: $padding;

    & > .icon {
      align-self: end;
      color: $accent1;
      font-size: 1.5em;
      cursor: pointer;
      margin-bottom: $margin;
    }

    & > .slider {
      display: flex;
      align-items: center;

      & > .slick-list {
        width: 100%;
      }

      & > .icon {
        color: $accent1;

        &:nth-child(1) {
          font-size: 1.5em;
          margin-right: $margin;
        }

        &:nth-last-child(1) {
          font-size: 1.5em;
          margin-left: $margin;
        }
      }

      & > .slick-list > .slick-track > div > div > .image {
        height: 60vh;
      }
    }

    & > .title {
      color: $accent2;
      margin-top: $margin;
      margin-left: $margin * 2;
      margin-right: $margin * 2;
    }

    & > .paragraph {
      margin-left: $margin * 2;
      margin-right: $margin * 2;
      @include truncateText;
    }

    @media (max-width: $medium) {
      & > .slider > .slick-list > .slick-track > div > div > .image {
        height: 50vh;
      }
    }

    @media (max-width: $xsmall) {
      & > .title {
        font-size: 1em;
      }

      & > .paragraph {
        font-size: 0.5em;
      }
    }
  }
}