.about {
  height: 90%;
  
  & > .twoRows > .first > .left > .paragraph {
    text-align: center;
    color: $light1;
    font-size: 2em;
  }

  & > .twoRows > .first > .left > .superTitle {
    text-align: center;
    color: $light1;
    font-size: 5em;
  }

  & > .twoRows > .first > .right > .aboutItem:nth-last-child(1) {
    margin-bottom: 0px;
  }

  @media (max-width: $medium) {
    & > .twoRows > .first > .left > .paragraph {
      margin-bottom: $margin;
    }

    & > .twoRows > .first > .left > .superTitle {
      font-size: 4em;
    }
  }
}