.contact {
  height: 90%;

  .twoRows {
    & > .first > .right {
      padding-left: $padding;

      & > .contactInfoCard:nth-child(2), .contactInfoCard:nth-child(3) {
        margin-top: $margin;
      }

    }

    @media (max-width: $medium) {
      & > .first > .right {
        padding-left: 0px;
        padding-top: $padding;
      }
    }

    & > .second > div {
      width: 40vw;
      height: 40vw;
      z-index: 0;
      border-radius: 100%;
      overflow: hidden;
      border: 2px solid $accent1;

      @media (max-width: $medium) {
        & {
          width: 90vw;
          height: 90vw;
        }
      }
      
      & > .map {
        border: none;
        width: 100%;
        height: 100%;

      }
    }
  }
}