.home {
  height: 90%;

  & > .centered {
    & > .superTitle, > .paragraph {
      color: $light1;
      text-align: center;
    }

    & > .paragraph {
      margin-bottom: $margin;
    }

    @media (max-width: $xsmall) {
      & > .superTitle {
        font-size: 1.5em;
      }
    }
  }
}