.anchor {
  background: transparent;
  border: none;
  outline: none;
  color: $accent2;
  cursor: pointer;
  @include truncateText;
  &:hover {
    color: $dark2;
  }
  &.selected {
    color: $accent1;
  }
}