.underlinedTitle {
  
  & > h3 {
    color: $accent2;
    text-align: center;
  }

  & > div {
    height: 20px;
    background:  
      linear-gradient(135deg, white 35%, transparent 25%) -10px 0,
      linear-gradient(225deg, white 35%, transparent 25%) -10px 0,
      linear-gradient(315deg, white 35%, transparent 25%),
      linear-gradient(45deg, white 35%, transparent 25%);   
    background-size: 20px 20px;
    background-color: $accent1;
  }
}