.cardMembers {
  display: flex;
  margin-top: $margin;

  & > .cardMember:nth-child(even) {
    margin-left: $margin;
  }

  @media (max-width: $small) {
    & {
      flex-direction: column;
      align-items: center;
    }

    & > .cardMember:nth-child(even) {
      margin-left: 0px;
    }

    & > .cardMember:nth-child(odd) {
      margin-bottom: $margin;
    }
  }
}