.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & > .paragraph {
    font-size: 0.8em;
    color: $danger;
    align-self: flex-start;
    margin-bottom: $margin;
  }

  & > .title {
    color: $accent2;
  }

  & > .input {
    width: 100%;
    margin-bottom: $margin / 2;

    & > .paragraph {
      color: $accent2;
    }
  }

  & > .normalButton {
    background-color: $accent2;
  }

  flex-wrap: wrap;
  @media (max-width: $medium) {
    & > div {
      flex-wrap: wrap;

      & > .input:nth-child(1) {
        margin-right: 0px;
      }
    }
  }
}