.toolbar {
  padding: $padding;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 10%;
  top: 0;

  & > .left {
    width: 25%;
  }
  
  & > .left > .superTitle {
    margin: 0;
    color: $light1;
  }
  
  & > .right {
    width: 75%;
  }
  
  @media (max-width: $medium) {
    & > .left {
      width: 50%;
    }
  
    & > .right {
      width: 50%;
    }
  }
  
  @media (max-width: $small) {
    & > .left {
      width: 75%;
    }
  
    & > .right {
      width: 25%;
    }
  }
}
